nav {
  width: 15%;
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
}

.navLink {
  display:flex;
  align-self: stretch;
  background-color: #607d8b;
  color: white;
  padding:10px 10px;
  border-right: 2px solid #80cbc4;
}

.navLinkActive {
  border-right: 5px solid #80cbc4;
}